<%- include('../partials/header') %>
<h1><%=title%></h1>

  <img src="https://media.timeout.com/images/105867500/image.jpg" alt="exercising" width="280" height="280">
      <p>I love staying active! Whether it's indoors or outdoors, I'm always up for a way to move my body to lift my spirits and mental health.</p>
      <p>One of my favorite forms of exercise is bouldering.</p>
      <p>I have not done any outdoor bouldering, but sounds like a fun challenge!</p>     
      
<%- include('../partials/footer') %>