<%- include('../partials/header') %>
<h1><%=title%></h1>

  <img src="https://image-cdn.hypb.st/https%3A%2F%2Fhypebeast.com%2Fwp-content%2Fblogs.dir%2F6%2Ffiles%2F2020%2F01%2Fjacquemus-pre-fall-paris-fashion-week-mens-womens-collection-backstage-gigi-hadid-2.jpg" alt="exercising" width="280" height="280">
      <p>I've always seen fashion as creative self-expression!</p>
      <p>I find fashion very fun. If I didn't do tech, I would find a way to be a part of this industry in some way.</p>
      <p>Maybe I can merge the two!</p>     
      
<%- include('../partials/footer') %>