<%- include('../partials/header') %>
<h1><%=title%></h1>

   <img src="https://www.morningkids.net/name/images/coloring-page-first-name-charlene.jpg" alt="myname" width="280" height="280">
      <p>Hello, my name is Charlene and this is my Templating with EJS page!</p>
      <p>I created this website in one of my coding classes using EJS temps and express JS.</p>
      <p>Please click through the nav bar to explore the website.</p>    
      
<%- include('../partials/footer') %>