<%- include('../partials/header') %>
<h1><%=title%></h1>

  <img src="https://pbs.twimg.com/profile_images/1230926049/heather-black-soul-music-star-eco-friendly-tees_design_400x400.png" alt="exercising" width="280" height="280">
      <p>Music has always played a huge part in my life!</p>
      <p>I come from a family of singers and music enthusiasts.</p>
      <p>My favorite genre is probably soul, ranging from modern artists to some of the greats.</p>     
      <p>Some of my favorites include Stevie Wonder, Marvin Gaye, and Erykah Badu.</p>
      
<%- include('../partials/footer') %>